@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import "scss/reset";
@import "scss/vars";
@import "scss/mixins";
@import "scss/sections/hero";
@import "scss/sections/main";
@import "scss/sections/footer";

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
};
