.modal {
  position: absolute;
  left: calc(50% - (500px/2));
  width: 500px;
  height: fit-content;
  z-index: 100;
  border-radius: 5px;
}

.modal-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  justify-content: center;
  z-index: 0;
}

.modal-header {
  background: rgb(212, 65, 51);
  margin: 0;
  border-radius: 5px;
}

.modal-title {
  margin: 0;
  color: #fff;
  font-size: 20px;
  text-align: left;
  padding: 15px 10px;
}

.modal-text {
  color: #fff;
  padding: 10px 15px;
  font-weight: normal;
}

.modal-close {
  position: absolute;
  right: 16px;
  top: -6px;
  width: 25px;
  height: 25px;
  opacity: 0.5;
  cursor: pointer
  }

  .modal-close:hover {
  opacity: 1;
  }

  .modal-close:before, .modal-close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #fff;
  }

  .modal-close:before {
  transform: rotate(45deg);
  }

  .modal-close:after {
  transform: rotate(-45deg);
  }
