.bottom-container {
    width: 100%;
    background-color: #000;

}


.bottom {
    margin: 0 auto;
    text-align: center;
    max-width: 305px;

    &__title {
        @include main-text-bold;
        font-size: 14px;
        color: $tc-footer-title;
        text-transform: uppercase;
        padding: 35px 0 10px;
        margin-top: 20px;
    }

    &__text {
        @include text-normal;
        color: $tc-footer;
        font-size: 12px;
        line-height: 20px;
    }

}

.socials {
    margin: 25px 0;
}

.contacts-block {
    padding-bottom: 30px;
}

.contact {
    text-decoration: none;
    @include text-normal;
    color: $tc-footer;
}

@media (min-width: 768px) {
    .bottom {
        max-width: 684px;
    }

    &__title {
        font-size: 16px;
    }

    &__text {
        font-size: 16px;
    }

.contacts-block {
    display: flex;
    justify-content: space-between;
}
}
