.hero-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-height: 118px;
    min-height: 83px;

    &__dropbtn {
        position: relative;
        width: 44px;
        height: 37px;
        background-color: #000;
        color: #fff;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    &__dropbtn span,
    &__dropbtn span::before,
    &__dropbtn span::after {
        margin-top: -1px;
        margin-left: -10px;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20px;
        height: 2px;
        background-color: #fff;


    }

    &__dropbtn span::before,
    &__dropbtn span::after {
        content: '';
        display: block;
        transition: 0.5s;

    }

    &__dropbtn span::before {
        transform: translateY(-5px);
    }

    &__dropbtn span::after {
        transform: translateY(5px);
    }



    &__dropdown-content {
        display: none;
        position: absolute;
        background-color: #F5F5F5;
        min-width: 160px;
        overflow: auto;
        text-transform: uppercase;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        right: 5%;
        z-index: 1;
        top: 3.8em;
    }

    &__dropdown-content a {
        color: #000;
        padding: 6.5px 14px;
        text-decoration: none;
        display: block;
        @include text-normal;
        font-size: 11px;
        line-height: 22px;
    }

    &__dropdown-content a:hover {
        color: #57a4a4;
    }

    &__dropdown-content a:hover {

        background-color: #e5e5e5;

    }
}


.show {
    display: block;
}

.hero-nav__dropbtn_active span {
    height: 0;
}

.hero-nav__dropbtn_active span::after {
    transform: rotate(-40deg);
}

.hero-nav__dropbtn_active span::before {
    transform: rotate(40deg);
}


@media (min-width: 768px) {
    .hero-nav {
        justify-content: center;
        &__dropbtn {
            display: none;
        }

        &__dropdown-content {
            width: 80%;
            max-width: 1170px;
            min-width: 568px;
            background-color: unset;
            box-shadow: unset;
            position: unset;
            display: flex;
            justify-content: space-between;
            padding: 5.138%;
        }

        &__dropdown-content a {
            font-size: 11px;
        }
        &__dropdown-content a:hover {
            color: #57a4a4;
        }

        &__dropdown-content a:hover {
            background-color: unset;
        }
    }
}

@media (min-width: 1200px) {
    .hero-nav__dropdown-content a {
        font-size: 14px;
    }
}
