.main {

    &__img {
        width: 100%;
        margin-bottom: 38px;
    }

    &__title {
        @include main-text-bold;
        font-size: 14px;
        text-transform: uppercase;
    }
}

.post {
    text-decoration: none;

    &__img {
        margin-top: 25px;
    }

    &__title {

        @include main-text-bold;
        font-size: 14px;
        margin-top: 10px;
    }

    &__src {
        color: $comentsColor;
        font-family: Roboto;
        font-size: 11px;
        line-height: 20px;
    }

    &__text {
        display: none;
        @include text-normal
    }
}

.post-4 {
    display: none;
}

@media (min-width: 768px) {
.main__title {
    font-size: 16px;
}

.post {
    display: flex;
    align-items: center;

    &__content {
        margin-left: 20px;
        width: 350px;
    }

    &__title {
        font-size: 16px;
    }

    &__src {
        font-size: 12px;
    }

    &__text {
        display: block;
    }
}
}

@media (min-width: 1200px) {
.post-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


}
