.page-bg {
  background-size: cover;
  min-height: 100vh;
  background-image: url(../img/background.jpg);
  overflow: hidden;

}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.logotype-link {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 1.375rem;
  line-height: 1.375rem;
  text-decoration: none;
  color: #fff;
  margin: 1.125rem 0;
  margin-left: 5%;
  cursor: pointer;
}

.logotype-link:hover {
  color: #236D47;
}

.hero-icons {
  display: flex;
  justify-content: space-between;
  width: 7.375rem;
}

.hero-icon:hover {
  fill: #236D47;
}

.hero-welcome {
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.875rem;
  line-height: 0.875rem;
  color: #fff;
  padding-left: 3.3125rem;
}

.hero-welcome-login {
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.hero-welcome-signup {
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.hero-welcome-login:hover,
.hero-welcome-signup:hover {
  color: #236D47;
}

.hero-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 5%;
}

.sign-page {
  height: calc(100vh - 3.625rem);
  display: flex;
  align-items: center;
  

}

.sign-page-box {
  position: relative;
  width: 20.25rem;
  padding: 1.875rem 3.75rem 2.375rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
}

.page-box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-box-title {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.25rem;
  line-height: 1.25rem;
  color: #434343;
}

.page-box-title::before {
  content: '';
  position: absolute;
  width: 1.125rem;
  height: 1.125rem;
  left: 0rem;
  top: 1.875rem;
  background: #3CB878;
}

.page-box-link {
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
  font-size: 0.875rem;
  line-height: 0.875rem;
  color: #3cb878;
}

.page-box-link:hover {
  color: #01813F;
  text-decoration: underline;
}

.page-box-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 0.9375rem;
  margin-bottom: 1.875rem;
}

.box-btn {
  position: relative;
  width: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  cursor: pointer;
}

.facebook {
  background: #305db8;
  border: none;
  border-radius: 0.25rem;
}

.facebook:hover {
  background: #022263;

}

.facebook:focus {
  outline: none;
}

.google {
  background: #df4a32;
  border: none;
  border-radius: 0.25rem;
}

.google:hover {
  background: #AB1F09;
  outline: none;
}

.google:focus {
  outline: none;
}

.box-btn-text {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  line-height: 1rem;
  color: #fff;
  margin-right: 1.6875rem;
}

.box-btn-text::before {
  content: '';
  position: absolute;
  width: 0.0625rem;
  height: 1.75rem;
  left: 3.0625rem;
  top: 0.625rem;
  background: #0A162F;
  mix-blend-mode: normal;
  opacity: 0.1;
}

.box-btn-logo {
  padding: 0.75rem 0.9375rem;
}



.page-box-text {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  position: relative;
  font-size: 0.875rem;
  line-height: 0.875rem;
  color: #848484;
}

.page-box-text::before {
  position: absolute;
  left: 0rem;
  top: 0.5rem;
  content: '';
  width: 9.375rem;
  border: 0.0625rem solid #F2F2F2;
}

.page-box-text::after {
  position: absolute;
  right: 0rem;
  top: 0.5rem;
  content: '';
  width: 9.375rem;
  border: 0.0625rem solid #F2F2F2;
}

.page-box-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 0.9375rem;
}

.box-form-input {
  box-sizing: border-box;
  width: 100%;
  height: 2.75rem;
  border: 0.0625rem solid #F2F2F2;
  border-radius: 0.25rem;
  margin-bottom: 0.9375rem;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.875rem;
  line-height: 0.875rem;
  color: #434343;
}

.box-form-input::placeholder {
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.875rem;
  line-height: 0.875rem;
  color: #BEBEBE;
}

.box-form-input:focus {
  box-shadow: 0rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.22);
  outline: none;
}


.box-form-label {
  width: fit-content;
  display: flex;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.875rem;
  line-height: 0.875rem;
  color: #434343;
}

.form-checkbox {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.form-checkbox:checked~.form-checkbox-btn {
  background: #fff;
}

.form-checkbox:checked~.form-checkbox-btn>.checkbox-btn-checkmark {
  width: 0.4375rem;
  height: 0.8125rem;
  border: 0.125rem solid transparent;
  border-top-color: #3CB878;
  border-left-color: #3CB878;
  transform: rotate(-147deg) translate(-0.25rem, 0.1875rem);
}

.form-checkbox-btn {
  width: 1.25rem;
  height: 1.25rem;
  border: 0.0625rem solid #F2F2F2;
  background: #fff;
  margin-right: 0.5rem;
}

.checbox-link {
  padding: 0 0.125rem;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  color: #3CB878;

}

.checbox-link:hover {
  color: #01813F;
  text-decoration: underline;
}

.box-form-submit-btn {
  margin-top: 1.25rem;
  width: 100%;
  height: 2.875rem;
  background: #3CB878;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  line-height: 1rem;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;

}

.box-form-submit-btn:hover {
  background: #01813F;
}

.box-form-submit-btn:focus {
  outline: none;
}


@media (min-width: 1200px) and (max-width: 1366px) {
  html {
    font-size: 14px;
  }
}
