@import "fonts.css";

html {
    scroll-behavior: smooth;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.nav-flex {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: #1d2124ed;
}

.nav-flex-item {
    align-self: center;
}

.nav-flex-item-img {
    position: absolute;
    left: 30px;
}

.nav-flex-title {
    position: relative;
    padding-left: 75px;
    font-weight: 700;
    font-size: 22px;
    color: #fff;
}

.nav-flex-title::before {
    content: url("../img/logo-title.png");
    position: absolute;
    left: 30px;
}

.nav-flex-menu-item {
    padding-right: 37px;
    text-transform: uppercase;
    color: #fff;
}

.nav-flex-menu-item:hover {
   color: #14b9d5;
}

.icon {
    font-size: 15px;
    color: #fff;
    padding: 25px;
    background-color: #171a1c;
}

.parallax-first {
    background-image: url('../img/header-bg.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    box-shadow:0 0 0 200px rgba(0, 0, 0, 0.33) inset;
}

.preview {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.preview-title {
    padding-top: 125px;
    padding-bottom: 25px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
    text-transform: uppercase;
    color: #fff;
}

.preview-link-first {
    margin: 10px;
    font-size: 18px;
    padding: 20px;
    border-radius: 3px;
    background-color: #89ca62;
    color: #fff;
}

.preview-link-second {
    margin: 10px;
    padding: 20px 30px;
    font-size: 18px;
    border-radius: 3px;
    background-color: #14b9d5;
    color: #fff ;
}

.content {
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f2f2;
}

.flex-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 900px;
}

.section-title {
    padding: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 27px;
    font-family: 'Montserrat', sans-serif;;
    text-transform: uppercase;
    color: #18b4cf;
}

.flex-content-text {
    padding: 20px 30px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    background-color: #fff;
}

.flex-content-child {
    display: flex;
    flex-direction: column;
}

.flex-content-item:nth-child(1) {
    margin-right: 30px;
    margin-bottom: 30px;
}

.flex-content-item:nth-child(2) {
    margin-right: 30px;
}

.flex-content-item:nth-child(3) {
    margin-right: 30px;
    margin-bottom: 30px;
}

.flex-content-item:nth-child(4) {
    margin-right: 30px;
 }

.flex-content-item:nth-child(5) {
    margin-bottom: 30px;
}

.parallax-second {
    background-image: url('../img/parallax-bg.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    box-shadow:0 0 0 300px rgba(0, 0, 0, 0.33) inset;
}

.clients-title {
    position: relative;
    padding-top: 200px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    color: #fff;
}

.clients-title::before {
    content: '';
    display: inline-block;
    position: absolute;
    box-sizing: border-box;
    width: 60px;
    bottom: -55px;
    left: 48%;
    border: 1px #169cb4 solid;
}

.clients-name-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    margin-top: 120px;
}

.top-rated-photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.news-info-grid {
    display: grid;
    grid-template-rows: 259px 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px 35px;
    grid-template-areas:
            "item1 item1 item1 item2"
            "item3 item3 item4 item4"
            "item5 item5 item6 item6"
            "item7 item8 item8 item8"
}

.item1 {
    grid-area: item1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: right;
    line-height: 1.3em;
    background-color: #f9f7f7;
}

.item2 {
    grid-area: item2;
    display: grid;
    grid-template-rows: 1fr 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    background-color: #f9f7f7;
}

.item3 {
    grid-area: item3;
    display: grid;
    grid-template-rows: 1fr 155px;
    grid-template-columns: 554px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: right;
}

.item4 {
    grid-area: item4;
    display: grid;
    grid-template-rows: 1fr 155px;
    grid-template-columns: 554px;
    justify-content: end;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: right;
}

.item5 {
    grid-area: item5;
    display: grid;
    grid-template-rows: 1fr 155px;
    grid-template-columns: 554px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: right;
}

.item6 {
    grid-area: item6;
    display: grid;
    grid-template-rows: 1fr 155px;
    grid-template-columns: 554px;
    justify-content: end;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: right;
}

.item7 {
    grid-area: item7;
    display: grid;
    grid-template-rows: 1fr 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    background-color: #f9f7f7;
}

.item8 {
    grid-area: item8;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: right;
    background-color: #f9f7f7;
}

.news-info-grid-subtitle {
    padding-top: 41px;
    padding-right: 24px;
    font-weight: 700;
    font-size: 18px;
}

.news-info-grid-text2 {
    padding: 22px 24px 37px 24px;
    line-height: 1.5em;
}

.news-info-grid-subtitle2 {
    font-weight: 700;
    padding: 20px 27px 22px 0;
    font-size: 18px;
}

.news-info-grid-text {
    padding-right: 27px;
    line-height: 1.5em;
}

.news-item2-title {
    padding: 15px 42px;
}

.news-info-grid-child-subblock {
    background-color: #f9f7f7;    
}

footer {
    background-color: #1d2124;
}

.copyright {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    font-family: 'Montserrat', sans-serif;
}

.footer-text {
    padding: 33px 0;
    font-size: 13px;
    color: #fff;
}

.footer-autor {
    position: relative;
    padding: 26px 0;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
}

.footer-autor::before {
    content: url("../img/Vector Smart Object copy 3@1X.png");
    position: absolute;
    left: -40px;
    top: 30px;
}


/*Jquery style*/

.navigation {
    position: relative;
}

.navigate-menu {
    position: absolute;
    top: 45px;
    right: 90px;
    width: 215px;
    border-radius: 3px;
    border: 2px solid #14b9d5;
}
.navigate-menu-item {
    padding: 10px;
    background-color: #1d2124ed;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    border-bottom: 1px solid #14b9d5;
    overflow: visible;
}

.navigate-menu-item > a {
    color: #fff;
}

.navigate-menu-item > a:hover {
    color: #14b9d5;
}
/*jq button*/

.scrol-top-btn {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    background: #14b9d5;
    border-radius: 50%;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.scrol-top-btn:hover {
    background-color: #000;
    transition: 0.5s ease;
    border: 2px solid #89ca62;
    box-sizing: border-box;
}

.scrol-top-btn:before {
    content: '';
    width: 10px;
    height: 10px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    display: inline-block;
    transform: rotate(-45deg);
}

.btn-show {
    margin: 25px 625px;
    font-size: 18px;
    padding: 20px;
    border-radius: 3px;
    border: none;
    background-color: #14b9d5;
    color: #fff;
    box-shadow: 3px 3px darkgrey;
}