@mixin main-text-bold {
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    color: $mtc;
}

@mixin main-text-normal {
    font-family: Roboto;
    font-size: 16px;
    line-height: 30px;
    color: $mtc;
}

@mixin text-normal {
    font-family: Roboto;
    font-size: 14px;
    line-height: 24px;
    color: $tc;
}
