*
{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
}

.btn
{
    width: 100%;
    margin: 50px auto;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid transparent;
    color: #000;
    background: linear-gradient(#88ff38, #91e2e5);

}

.wrapper
{
  width: fit-content;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    margin: 0 auto;
}
li {
  list-style-type: none;
  font-size: 18px;
  line-height: 1.5;
  text-transform: uppercase;
}
