.container {
    width: 1170px;
    margin: 0 auto;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #313131;
}



.navigation-company-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #fff;
}

.logo-img {
    padding: 22px 27px 21px;
}

.search-img {
    width: 17px;
    height: 17px;
    padding: 27px 25px 26px 26px;
    background: #000;
}

.navigation-menu-item {
    display: inline-block;
    margin-left: 69px;
    text-transform: uppercase;
}

.navigation-menu-item-first {
    margin-left: 0;
}

.navigation-menu-link {
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
}

.navigation-menu-link:hover {
    color: #14B9D5;
  }

.header {
    background: url(../img/header-bg.png);
    /* background-attachment: fixed; */
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-title {
    padding: 165px 0 40px 0;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #fff;
}

.header-button-subscribe,
.header-button-articles {
    border: none;
    outline: none;
    margin-bottom: 75px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    padding: 17px 20px;
    color: #fff;
    background-color: #89CA62;
    cursor: pointer;
}

.header-button-articles {
    margin-left: 20px;
    background-color: #14B9D5;
}

/* Posts section */

.posts {
    background-color: #F2F2F2;
    text-align: center;
}

.main-title {
    padding: 50px 0;
    text-transform: uppercase;
    color: #18B4CF;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
}

.posts-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 1030px;
    align-content: center;
    gap: 30px;
}

.posts-list-item {
    width: 370px;
    background: #FFFFFF;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.posts-list-name {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    padding: 20px;
}

/* Clients section */

.clients {
    background: url(../img/clients/clients-bg.png);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.clients-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    padding: 105px 0 90px;
}

.clients-hr {
    width: 60px;
    border: 0;
    border-top: 3px solid #18B4CF;
    color: #18B4CF;
}

.clients-logo {
    width: 880px;
    padding: 105px 0 190px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    justify-items: center;
    align-items: center;
}

/* Top rated section */

.top-rated {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr 1fr;
    text-align: center;
}

.main-title {
    grid-column: 1 / span 7;
}

.top-rated-img {
    width: 100%;
}

/* News section */

.news {
    text-align: center;
    margin-bottom: 75px;
}

.news-list {
    display: grid;
    justify-content: space-between;
    gap: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 260px 420px 420px 260px;
}

.news-item {
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    align-items: center;
}

.news-item1 {
    grid-column: 1 / 4;
    display: flex;
}

.news-item-center {
    grid-column: span 2;
}

.news-item8 {
    display: flex;
    grid-column: 2 / 5;
}

.news-item-title {
    padding: 0 15px;
    text-align: right;
    font-weight: bold;
    font-size: 18px;
    line-height: 40px;
    color: #353A3D;
}

.news-item-text {
    padding: 15px;
    text-align: right;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
}

.news-item-title-center {
    text-align: center;
}

/* Footer */

.footer {
    background-color: #000;
}

.footer-block {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
}

.footer-text {
    font-size: 13px;
    line-height: 13px;
    color: #fff;
}

.footer-logo {
    display: flex;
}

.footer-title {
    color: #fff;
    font-size: 16px;
    line-height: 80px;
}
