.root {
  width: 250px;
  min-height: 100px;
  background-color: rgb(255, 188, 188);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

#input {
  margin: 0 auto;
  width: 80px;
  border-radius: 5px;
  border: 1px solid #d0d2cf;
}
#curentPrice {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}
#errorPrice {
  background-color: white;
  height: 25px;
  border: 1px solid grey;
  border-radius: 10px;
  font-size: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

#cancelPrice {
  margin-left: 10px;
  border-radius: 10px;
}
