.yes-btn {
  width: 150px;
  height: 50px;
  color: #fff;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  background-color: green;
}

.no-btn {
  width: 150px;
  height: 50px;
  color: #fff;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  background-color: red;
}

.yes-btn:hover{
  font-weight: bold;
}

.no-btn:hover{
  font-weight: bold;
}
