:root {
--primary-color: #F26522;
}

.main-container {
    background-image: url(../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1349px;
    margin: 0 auto;
}

.container {
    width: 1030px;
    margin: 0 auto;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 50px 0 22px;
}

.logo-link {
    display: flex;
    text-decoration: none;
}

.logo-orange {
    display: none;
}

.logo-title {
    display: flex;
    flex-direction: column;
    padding-left: 8px;
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
    color: #fff;
}

.logo-link:hover .logo-title {
    color: var(--primary-color);
}

.logo-link:hover .logo {
    display: none;
}

.logo-link:hover .logo-orange {
    display: block;
}

.logo-title-holidays {
    font-size: 18px;
    line-height: 18px;
}

.contacts {
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: space-between;

}

.contacts-email {
    text-decoration: none;
    font-size: 18px;
    line-height: 18px;
    color: #fff;
}

.contacts-email:hover {
    color: var(--primary-color);
}

.contacts-tel {
    text-decoration: none;
    font-size: 18px;
    line-height: 18px;
    color: #fff;
}

.contacts-tel:hover {
    color: var(--primary-color);
}

/* Main section */

.main-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-block-link {
    text-align: center;
    text-decoration: none;
    margin-bottom: 37px;
}

.main-block-item-img {
    width: 300px;
    height: 220px;
}

.main-block-item {
    position: relative;
}

.main-block-item-title {
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    padding-top: 20px;
}

.main-block-item-hover {
    display: none;
}

.main-block-link:hover .main-block-item-hover {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 300px;
    content: '';
    position: absolute;
    background-color: var(--primary-color);
    padding: 7px 16px 10px 16px;
    align-items: flex-end;
    bottom: 0;
    left: 0;
    right: 0;
}

.main-block-link:hover .main-block-item-title {
    color: var(--primary-color);
}

.hover {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    font-size: 10px;
    line-height: 13px;
    color: #fff;
}

.hover-price {
    font-size: 20px;
    line-height: 20px;
    color: #fff;
}

.hover-details {
    font-size: 14px;
    line-height: 14px;
    color: #fff;
}

.hover-details::after {
    content: url(../img/row-icon.svg);
    margin-left: 16px;
}

/* Footer */

.bottom-text {
    margin-top: 50px;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    padding-bottom: 15px;
}
