@import "film";
@import "character";


* {
  margin: 0 auto;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  font-family: serif;
}

.container {
  max-width: 1200px;
  min-height: 1200px;
  background: #fff;
  color: rgb(0, 0, 0);
  padding: 1rem 0;
}

.result {
  line-height: 2rem;
  font-weight: 600;
  list-style: disc;
}

.result-list {
  padding-left: 30px;
}

.result-list__element {
  color: #000;
  font-weight: 300;
}
