.product-card{
  position: relative;
  width: 222px;
  border-radius: 8px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  margin: 10px;
  background: rgb(245, 245, 245);
}
.product-card:hover{
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.5);
}
.product-article{
color: grey;
font-size: 14px;
}
.card-button{
  width: 80%;
  height: 30px;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  background: white;
  box-shadow: 4px 4px 8px 0px rgba(11, 19, 26, 0.2);
  cursor: pointer;
  text-transform: uppercase;
}
.card-button:hover{
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2) inset;
  color: rgba(0, 0, 0, 0.5);
}
.favor-icon{
  position: absolute;
  top: 5px;
  right: 5px;

}
.favor-icon:hover{
  fill: gold;
  cursor: pointer;
}
.active{
  fill: gold;
}
