.container {
    width: 1280px;
    margin: 0 auto;
    text-align: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 330px;
}

.navbar-list {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: #ff0000;
}

.title {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    margin: 50px 0 40px 0;
    color: #373737;
}

.main-text {
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    margin: 15px 70px;
    color: #373737;
}

.button {
    text-align: center;
    width: 190px;
    height: 50px;
    background: #FF0000;
    border-radius: 4px;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    margin: 65px 0 40px 0;
}

.footer {
    margin: 40px 105px 30px 0;
    text-align: right;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
}
