.container {
    width: 1280px;
    margin: 0 auto;
}

.logo {
    margin: 60px 0 40px;
}

.title-link {
    text-decoration: none;
    color: #000;
    font-size: 80px;
    line-height: 94px;
}

.title-mda {
    color: #4bcaff;
}

.header-menu {
    background-color: #35444F;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 25px 0 20px;
    margin-bottom: 50px;
}

.header-menu-item {
    text-decoration: none;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    border-left: 1px solid #fff;
    padding: 25px 30px 20px 30px;
}

.header-menu-item:hover {
    background-color: #222F3A;
}

/* Main section */

.main-section {
    display: flex;
    justify-content: space-between;
}

.aside-menu-list {
    width: 345px;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
}

.aside-menu-link {
    padding: 25px 0 25px 45px;
    text-decoration: none;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
}

.aside-menu-link:hover {
    background-color: #DBDBDB;
    padding-left: 65px;
    font-weight: 600;
    color: #000;
}

.main-container {
    width: 885px;
}

.main-container-img {
    border: 1px solid #000;
    text-align: center;
    padding: 75px 0;
}

.main-img {
    transition: 1s;
}

.main-img:hover {
    transform: scale(1.3);
}

.main-text {
    margin-top: 35px;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

/* Footer section */

.page-bottom {
    margin: 55px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    background: rgba(99, 105, 110, 0.48);
}

.bottom-menu-link {
    text-decoration: none;
    padding-left: 40px;
    font-size: 28px;
    line-height: 70px;
    color: #0C1927;
}

.bottom-menu-link:hover {
    color: #3181a6;
    text-decoration: underline;
}

.copyright {
    font-size: 24px;
    line-height: 24px;
    color: #010101;
}
